<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_YnYRcAKMgm7mc6usG4y_Eas-VVFXr0g</string>
	<key>GCM_SENDER_ID</key>
	<string>162197836780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adnanalashram.ptp</string>
	<key>PROJECT_ID</key>
	<string>ptpp-dc07b</string>
	<key>STORAGE_BUCKET</key>
	<string>ptpp-dc07b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162197836780:ios:ec6f4029b135a1108be6c9</string>
</dict>
</plist>